NODE_ENV=development
PORT=3000
CLUSTER_WORKERS=2
DATABASE_URL=postgresql://cognidental_user:cognidental_password@a23eaece2932642cabdf64b079c5be31-513059508.us-east-1.elb.amazonaws.com:5432/cognidental_db
TYPEORM_LOGGING=false
TYPEORM_SYNCHRONIZE=true
TYPEORM_RUN_MIGRATIONS_ON_START=false
JWT_SECRET=change-me-access
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_TTL_DAYS=14
SESSION_SECRET=change-me-session
SESSION_TTL_HOURS=24
OPEN_DENTAL_BASE_URL=https://api.opendental.com/api/v1
OPEN_DENTAL_API_KEY=1NJIbyqlaf2PE0md
TEMPORAL_BASE_URL=http://localhost:7233
TEMPORAL_NAMESPACE=default
